.git/
*vendor
.vscode/
.idea/
*.DS_Store
Makefile
LICENSE
.gitignore

# Environment variables
e2e.env
staging.env

# Docs and readmes
*.md
docs/

# web
web/

# tests
*_test.go
e2e
auth/
certs/
client/
k3s_data/
tq/
