# build config location
cmd/server/tq.json

# test build output
cmd/server/main

# IDE specific
.vscode
__debug*
.idea

# state
sqlite

# useless staff
.DS_Store

# k3s links
k3s_data/k3s/k3s.yaml
k3s_data/kubeconfig/kubeconfig.yaml

