# build config location
cmd/server/tq.json

# test build output
cmd/server/main
gits/

# IDE specific
.vscode
__debug*
.idea
.claude

# state
sqlite

# useless staff
.DS_Store

# k3s links
k3s_data/k3s/k3s.yaml
k3s_data/kubeconfig/kubeconfig.yaml

#################################
# docs
# # build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local
*local.*

# pulumi
boot/do/.pulumi/history
boot/do/.pulumi/backups/
