@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.9855 0.0031 290.56);
  --base-100: oklch(0.9675 0.0062 290.12);
  --base-200: oklch(0.9202 0.0124 290.07);
  --base-300: oklch(0.8504 0.0186 290.04);
  --base-400: oklch(0.7053 0.0279 289.83);
  --base-500: oklch(0.5524 0.0363 289.71);
  --base-600: oklch(0.442 0.0341 289.57);
  --base-700: oklch(0.3703 0.0279 289.58);
  --base-800: oklch(0.2739 0.0186 289.8);
  --base-900: oklch(0.2099 0.0124 289.66);
  --base-950: oklch(0.1414 0.0093 289.6);
  --base-1000: oklch(0.0966 0.0062 289.56);

  --primary-50: oklch(0.9844 0.0142 195.53);
  --primary-100: oklch(0.9551 0.0398 195.87);
  --primary-200: oklch(0.9143 0.0726 196.1);
  --primary-300: oklch(0.8611 0.1102 196.97);
  --primary-400: oklch(0.7842 0.1284 199.94);
  --primary-500: oklch(0.7008 0.1188 201.77);
  --primary-600: oklch(0.6054 0.1028 204.74);
  --primary-700: oklch(0.5164 0.0849 206.26);
  --primary-800: oklch(0.4448 0.0688 207.69);
  --primary-900: oklch(0.3932 0.0562 209.01);
  --primary-950: oklch(0.2918 0.0435 211.06);
  --primary-1000: oklch(0.2261 0.0353 211.63);

  --secondary-50: oklch(0.9827 0.0168 190.5);
  --secondary-100: oklch(0.953 0.0514 190.75);
  --secondary-200: oklch(0.9117 0.0949 190.77);
  --secondary-300: oklch(0.8581 0.111 191.57);
  --secondary-400: oklch(0.7811 0.1249 193.81);
  --secondary-500: oklch(0.7079 0.1353 195.22);
  --secondary-600: oklch(0.6032 0.1279 197.93);
  --secondary-700: oklch(0.5143 0.1051 199.5);
  --secondary-800: oklch(0.442 0.0852 201.07);
  --secondary-900: oklch(0.3996 0.0694 202.01);
  --secondary-950: oklch(0.2867 0.0527 204.42);
  --secondary-1000: oklch(0.2191 0.0419 205.02);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-900);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-500);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-900);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-500);
  --radius: 0rem;
  --destructive: oklch(0.5523 0.1927 32.7272);
  --destructive-foreground: var(--base-1000);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.01em;
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-900);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-500);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-900);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-500);
  --destructive: oklch(0.411 0.117 29.2325);
  --destructive-foreground: var(--primary-100);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-semibold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
}
